body{
background-color: rgb(9, 20, 78);

}
h1{
    text-align: center;
    color: linen;
}
#cap{
    width:25%;
    float: right;
    align-items: center; 
   
}
p{
    color: linen;
    font-family: 'Franklin Gothic Medium';
}