body {
    /*background-color: rgb(134, 29, 29);*/
    background-image: url("imagenes/ave.jpg") ;
    
    background-attachment: fixed;
}

h1 {
    text-align:center;
    color: beige;
    font-family:'Franklin Gothic Medium';
}
h2{
    color: black;
    text-align: center
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 248, 248);
}

li {
    float: left;
}

li a {
    display: block;
    color:rgba(43, 39, 39, 0.822);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT''Trebuchet MS', sans-serif;
}

li a:hover {
    background-color: rgb(223, 215, 215);
}
#news{
    color: papayawhip;
    font-size: 290%;
    text-align: center;
}
#heroe{
    color: bisque;
    text-align: center;

}
pre{
    color: cornsilk;
    font-size: 150%;
    text-align: center;
}
pre a{
    color: rgb(219, 209, 209);
    font-family: 'Franklin Gothic Medium';
}
#movies{
    color: cornsilk;
    text-align: center;
}
#Pre1{
    color: cornsilk;
    text-align: center;
    font-size: 150%;
}
#hola{
    color: white;
    text-align: center;
    font-size: 150%;
    
}
ul{
    /*background-color: rgb(134, 29, 29);*/
    
}
li a{
   font-size: 140%;
   margin-right: 80px;
}
#im1{
    opacity: 0.7;
    border-radius: 8px;

}
#im2, #im3, #im5{
    border-radius: 8px;

}
.slider {
	width: 75%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 80%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
